@import "tailwindcss";

@import "../styles/colors.css";
@import "../styles/typography.css";
@import "../styles/shadows.css";

@layer utilities {
  .pos-center {
    left: 50%;
    transform: translateX(-50%);
  }

  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
